/* App.css */

.App {
  font-family: 'Righteous', cursive;
font-family: 'Roboto', sans-serif;
  text-align: center;
  padding: 20px;
  font-weight: light;
}

h1 {
  margin-bottom: 20px;
}
.container {
  margin-top: 10px;

}
.form-group label {
  font-weight: bold;
}

/* Add spacing between form groups */
.form-group {
  margin-bottom: 20px;
}
form {
  margin-top: 10px;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding-left: 10px;
  background-color: #f5f5f5;
}


.table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  margin-top: 20px;
}

.table th,
.table td {
  border: 1px solid #ddd;
  padding: 10px;
}

.table th {
  background-color: #f5f5f5;
  font-weight: bold;
  text-align: center;
}

.row-number {
  width: 10px;
  text-align: center;
}


.table tr td:first-child {
  text-align: center;
}
